{% extends "base.html" %} {% load static %} {% block list %}
<ul id="nav" class="nav">
  <li class="current">
    <a class="smoothscroll" href="#home">Home</a>
  </li>
  <li>
    <a class="smoothscroll" href="#about">About</a>
  </li>
  <li>
    <a class="smoothscroll" href="#resume">Resume</a>
  </li>
  <li>
    <a class="smoothscroll" href="#portfolio">Works</a>
  </li>
  <li>
    <a class="smoothscroll" href="#testimonials">Testimonials</a>
  </li>
  <li>
    <a class="smoothscroll" href="#contact">Contact</a>
  </li>
  <li><a href="{% url 'resume_projects' %}">Projects</a></li>
</ul>

{% endblock %} {% block content %}
<!-- About Section
   ================================================== -->
<section id="about">
  <div class="row">
    <div class="three columns">
      <img class="profile-pic" src="{% static 'images/Alireza.jpg' %}" alt="" />
    </div>

    <div class="nine columns main-col">
      <h2>About Me</h2>

      <p>
        "Hello, I'm Alireza Khajehvandi, an AI And Machine Learning Expert with
        Embedded Systems Proficiency. I have had the privilege of working on
        numerous projects for various companies and individuals across the
        fields of Machine Learning, Deep Learning, Computer Vision, and Embedded
        Systems.
      </p>

      <p>
        Throughout my career, I have undertaken a wide range of projects,
        leveraging my expertise in these domains. I have successfully delivered
        solutions that involve the development of cutting-edge software and
        hardware control systems. These projects have not only expanded my
        knowledge but have also allowed me to collaborate with diverse teams and
        clients, contributing to innovative solutions and driving business
        success.
      </p>

      <p>
        I am deeply passionate about continuous learning, and I possess a high
        problem-solving aptitude. I embrace challenges with enthusiasm, viewing
        them not as obstacles but as opportunities for growth. I am eager to
        face challenges head-on and am highly motivated to do so.
      </p>

      <p>
        I look forward to the opportunity to connect and collaborate with you.
        Please feel free to reach out to me for any inquiries or potential
        collaborations."
      </p>

      <div class="row">
        <div class="columns contact-details">
          <h2>Contact Details</h2>
          <p class="address">
            <span>Alireza Khajehvandi</span><br />
            <!-- <span
              >1600 Amphitheatre Parkway<br />
              Mountain View, CA 94043 US </span
            ><br />
            <span>(123)456-7890</span><br /> -->
            <span>alireza76khajehvandi@gmail.com</span>
          </p>
        </div>

        <div class="columns download">
          <p>
            <a href="#" class="button"
              ><i class="fa fa-download"></i>Download Resume</a
            >
          </p>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end .main-col -->
  </div>
</section>
<!-- About Section End-->

<!-- Resume Section
   ================================================== -->
<section id="resume">
  <!-- Education
      ----------------------------------------------- -->
  <div class="row education">
    <div class="three columns header-col">
      <h1><span>Education</span></h1>
    </div>

    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>BNUT - Babol Noshirvani University of Technology</h3>
          <p class="info">
            Master of Science in Digital Electronic Systems, Machine Learning
            and Computer Vision. <span>&bull;</span>
            <em class="date">September 2021 - Present</em><span>&bull;</span>
            <em class="date">GPA: 4.0/4.0</em>
          </p>

          <p>
            Thesis:<br />Title: "Enhancing Low-Light and Dark Images Using Deep
            Learning Techniques" <br /><br />References: <br />Available upon
            request.
          </p>
        </div>
      </div>
      <!-- item end -->

      <div class="row item">
        <div class="twelve columns">
          <h3>Shahrood University of TechnologyShahrood</h3>
          <p class="info">
            Bachelor of Engineering - BE, Electrical and Electronics Engineering
            <span>&bull;</span>
            <em class="date">2016 - 2020</em>
          </p>

          <p style="margin: 10px 10px 10px 0">
            Thesis:<br />Title: "Wireless Four-Channel Data Logger Design"
            <br />
          </p>

          <ul>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Designed and developed a Wireless Four-Channel Data Logger based
              on AVR microcontroller.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Implemented NRF module for seamless wireless data transmission.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Real-time data streaming to LabVIEW software for visualization and
              storage.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Proficient in both hardware design and software programming,
              demonstrating strong capabilities in data engineering and
              hardware-software integration.
            </li>
          </ul>

          References: <br />Available upon request.
        </div>
      </div>
      <!-- item end -->
    </div>
    <!-- main-col end -->
  </div>
  <!-- End Education -->

  <!-- Work
      ----------------------------------------------- -->
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>Work Experience</span></h1>
    </div>

    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>Azmoon Gostar Fanara Co., Tehran</h3>
          <p class="info">
            Embedded Systems Engineer with Proficiency in Software-Hardware
            Integration <span>&bull;</span>
            <em class="date">May 2020 - Present</em>
          </p>
          <p style="margin: 10px 10px 10px 0">
            Company Introduction:<br />Azmoon Gostar Fanara Co. is an innovative
            and knowledge-based company that specializes in the design and
            manufacturing of cutting-edge devices and software for testing and
            measuring household appliances. We are a tech-driven firm dedicated
            to developing state-of-the-art hardware and software solutions for
            the testing of household products.
            <br />
          </p>

          <p style="margin: 10px 10px 10px 0">
            Responsibilities:<br />As an Embedded Systems Engineer at Azmoon
            Gostar Fanara Co., I had the privilege of working on challenging
            projects that demanded expertise in various areas:
            <br />
          </p>
          <ul>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Proficiently designed and developed software for real-time data
              acquisition, monitoring, and control of hardware systems.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Mastered the design and development of microcontroller-based
              hardware systems, including data acquisition, control, and
              software-hardware communication.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Solved complex engineering problems and addressed technical issues
              to ensure optimal system performance.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 50px 50px">
              Collaborated with cross-functional teams to create integrated
              solutions for consumer electronics evaluation.
            </li>
          </ul>
        </div>
      </div>
      <!-- item end -->

      <div class="row item">
        <div class="twelve columns">
          <h3>Freelance</h3>
          <p class="info">
            AI, Machine learning, Deep learning, Computer vision, and Embedded
            systems Engineer <span>&bull;</span>
            <em class="date">2018 - 2021</em>
          </p>

          <p style="margin: 10px 10px 10px 0">
            During my freelance career, I have accumulated extensive experience
            in various fields, showcasing my expertise in:
            <br />
          </p>
          <ul>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Artificial Intelligence and Deep Learning: Developed advanced AI
              models and machine learning algorithms for complex
              problem-solving.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Image Processing: Applied image processing techniques for object
              detection and recognition in real-world scenarios.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Machine Learning: Designed and implemented machine learning
              systems for data analysis and pattern recognition.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Embedded Systems: Worked on embedded system projects, including
              the integration of hardware and software design for seamless
              functionality.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 10px 50px">
              Internet of Things (IoT): Developed IoT solutions for remote
              monitoring and control of devices and systems.
            </li>
            <li style="list-style: square outside; margin: 10px 10px 50px 50px">
              Programming: Proficient in multiple programming languages,
              including Python, C/C++, and LabVIEW, and so on.
            </li>
          </ul>
        </div>
      </div>
      <!-- item end -->
    </div>
    <!-- main-col end -->
  </div>
  <!-- End Work -->

  <!-- Skills
      ----------------------------------------------- -->
  <div class="row skill">
    <div class="three columns header-col">
      <h1><span>Skills</span></h1>
    </div>

    <div class="nine columns main-col">
      <p>
        Programming Languages: Python, C/C++, C#<br />
        Artificial Intelligence (AI): AI Algorithms, Machine Learning, Deep
        Learning<br />
        Machine Learning Frameworks: TensorFlow, Keras, PyTorch, scikit-learn<br />
        Computer Vision: OpenCV, Image Processing<br />
        Convolutional Neural Networks (CNN)<br />
        Natural Language Processing (NLP)<br />
        Data Science: Data Analysis, Data Visualization, Statistical Analysis<br />
        Algorithm Development and Optimization<br />
        Matlab<br />
        Problem Solving and Critical Thinking<br />
        Software-Hardware Integration<br />
        Embedded Systems: AVR Microcontroller, Arduino, FPGA, VHDL, ARM,
        STM32<br />
        Internet of Things (IoT)<br />
        LabVIEW<br />
        Electronic Circuit Design: Altium Designer, Circuit Prototyping<br />
        Graphical User Interface (GUI) Design<br />
        Simulation and Testing: Proteus, PS-PICE, HS-PICE<br />
        Containerization: Docker<br />
        Deep Learning Architectures: UNet, Yolo, ResNet, VGG, and more<br />
        Web Development: Django, HTML, CSS, JavaScript<br />
      </p>
      <p>Skill Proficiency Levels:</p>

      <div class="bars">
        <ul class="skills">
          <li>
            <span class="bar-expand Programming"></span><em>Python, C/C++</em>
          </li>
          <li>
            <span class="bar-expand AI"></span
            ><em>AI, Machine Learning, Deep Learning, Computer Vision</em>
          </li>
          <li>
            <span class="bar-expand ML"></span
            ><em>Machine Learning Frameworks</em>
          </li>
          <li><span class="bar-expand DS"></span><em>Data Science</em></li>
          <li>
            <span class="bar-expand ProblemSolving"></span
            ><em>Problem Solving and Critical Thinking</em>
          </li>
          <li>
            <span class="bar-expand EmbeddedSystems"></span
            ><em>Embedded Systems</em>
          </li>
          <li>
            <span class="bar-expand Labview"></span
            ><em>LabVIEW</em>
          </li>
          <li>
            <span class="bar-expand IoT"></span
            ><em>Internet of Things (IoT)</em>
          </li>
          <li>
            <span class="bar-expand SoftwareHardware"></span
            ><em>Software-Hardware Integration</em>
          </li>
          <li>
            <span class="bar-expand Electronics"></span
            ><em>Electronic Circuit Design</em>
          </li>
          <li><span class="bar-expand Docker"></span><em>Docker</em></li>
          <li>
            <span class="bar-expand GitGitHub"></span><em>Git, GitHub</em>
          </li>
          <li><span class="bar-expand Django"></span><em>Django</em></li>
          <li><span class="bar-expand webpro"></span><em>HTML, CSS, JS</em></li>
        </ul>
      </div>
      <!-- end skill-bars -->
    </div>
    <!-- main-col end -->
  </div>
  <!-- End skills -->
</section>
<!-- Resume Section End-->

<!-- Portfolio Section
   ================================================== -->
<section id="portfolio">
  <div class="row">
    <div class="twelve columns collapsed">
      <h1>Check Out Some of My Works.</h1>

      <!-- portfolio-wrapper -->
      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-01" title="">
              <img alt="" src="{% static 'images/portfolio/coffee.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Coffee</h5>
                  <p>Illustrration</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-02" title="">
              <img alt="" src="{% static 'images/portfolio/console.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Console</h5>
                  <p>Web Development</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-03" title="">
              <img alt="" src="{% static 'images/portfolio/judah.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Judah</h5>
                  <p>Webdesign</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-04" title="">
              <img
                alt=""
                src="{% static 'images/portfolio/into-the-light.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Into The Light</h5>
                  <p>Photography</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->
        

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-05" title="">
              <img alt="" src="{% static 'images/portfolio/farmerboy.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Farmer Boy</h5>
                  <p>Branding</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-06" title="">
              <img alt="" src="{% static 'images/portfolio/girl.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Girl</h5>
                  <p>Photography</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-07" title="">
              <img alt="" src="{% static 'images/portfolio/origami.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Origami</h5>
                  <p>Illustrration</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="#modal-08" title="">
              <img alt="" src="{% static 'images/portfolio/retrocam.jpg' %}" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Retrocam</h5>
                  <p>Web Development</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>
          </div>
        </div>
        <!-- item end -->
      </div>
      <!-- portfolio-wrapper end -->
    </div>
    <!-- twelve columns end -->

    <!-- Modal Popup
	      --------------------------------------------------------------- -->

    <div id="modal-01" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-coffee.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Coffee Cup</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"
          ><i class="fa fa-tag"></i>Branding, Webdesign</span
        >
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-01 End -->

    <div id="modal-02" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-console.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Console</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"
          ><i class="fa fa-tag"></i>Branding, Web Development</span
        >
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-02 End -->

    <div id="modal-03" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-judah.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Judah</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Branding</span>
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-03 End -->

    <div id="modal-04" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-intothelight.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Into the Light</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Photography</span>
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-04 End -->

    <div id="modal-05" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-farmerboy.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Farmer Boy</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"
          ><i class="fa fa-tag"></i>Branding, Webdesign</span
        >
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-05 End -->

    <div id="modal-06" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-girl.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Girl</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Photography</span>
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-06 End -->

    <div id="modal-07" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-origami.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Origami</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"
          ><i class="fa fa-tag"></i>Branding, Illustration</span
        >
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-07 End -->

    <div id="modal-08" class="popup-modal mfp-hide">
      <img
        class="scale-with-grid"
        src="{% static 'images/portfolio/modals/m-retrocam.jpg' %}"
        alt="" />

      <div class="description-box">
        <h4>Retrocam</h4>
        <p>
          Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
          sem nibh id elit.
        </p>
        <span class="categories"
          ><i class="fa fa-tag"></i>Webdesign, Photography</span
        >
      </div>

      <div class="link-box">
        <a href="http://www.behance.net" target="_blank">Details</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>
    </div>
    <!-- modal-01 End -->
  </div>
  <!-- row End -->
</section>
<!-- Portfolio Section End-->

<!-- Call-To-Action Section
   ================================================== -->
<section id="call-to-action">
  <div class="row">
    <div class="two columns header-col">
      <h1><span>Get Hosting.</span></h1>
    </div>

    <div class="seven columns">
      <h2><span class="lead">Unde Omnis Iste</span></h2>
      <p>
        <span class="lead"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae.
        </span>
      </p>
    </div>

    <div class="three columns action"></div>
  </div>
</section>
<!-- Call-To-Action Section End-->

<!-- Testimonials Section
   ================================================== -->
<section id="testimonials">
  <div class="text-container">
    <div class="row">
      <div class="two columns header-col">
        <h1><span>Client Testimonials</span></h1>
      </div>

      <div class="ten columns flex-container">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <blockquote>
                <p>
                  Your work is going to fill a large part of your life, and the
                  only way to be truly satisfied is to do what you believe is
                  great work. And the only way to do great work is to love what
                  you do. If you haven't found it yet, keep looking. Don't
                  settle. As with all matters of the heart, you'll know when you
                  find it.
                </p>
                <cite>Steve Jobs</cite>
              </blockquote>
            </li>
            <!-- slide ends -->

            <li>
              <blockquote>
                <p>
                  This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                  vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                  bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                  nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                  sit amet mauris.
                </p>
                <cite>Mr. Adobe</cite>
              </blockquote>
            </li>
            <!-- slide ends -->
          </ul>
        </div>
        <!-- div.flexslider ends -->
      </div>
      <!-- div.flex-container ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- text-container ends -->
</section>
<!-- Testimonials Section End-->

<!-- Contact Section
   ================================================== -->
<section id="contact">
  <div class="row section-head">
    <div class="two columns header-col">
      <h1><span>Get In Touch.</span></h1>
    </div>

    <div class="ten columns">
      <p class="lead">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <!-- form -->
      <form action="" method="post" id="contactForm" name="contactForm">
        <fieldset>
          <div>
            <label for="contactName"
              >Name <span class="required">*</span></label
            >
            <input
              type="text"
              value=""
              size="35"
              id="contactName"
              name="contactName" />
          </div>

          <div>
            <label for="contactEmail"
              >Email <span class="required">*</span></label
            >
            <input
              type="text"
              value=""
              size="35"
              id="contactEmail"
              name="contactEmail" />
          </div>

          <div>
            <label for="contactSubject">Subject</label>
            <input
              type="text"
              value=""
              size="35"
              id="contactSubject"
              name="contactSubject" />
          </div>

          <div>
            <label for="contactMessage"
              >Message <span class="required">*</span></label
            >
            <textarea
              cols="50"
              rows="15"
              id="contactMessage"
              name="contactMessage"></textarea>
          </div>

          <div>
            <button class="submit">Submit</button>
            <span id="image-loader">
              <img alt="" src="{% static 'images/loader.gif' %}" />
            </span>
          </div>
        </fieldset>
      </form>
      <!-- Form End -->

      <!-- contact-warning -->
      <div id="message-warning">Error boy</div>
      <!-- contact-success -->
      <div id="message-success">
        <i class="fa fa-check"></i>Your message was sent, thank you!<br />
      </div>
    </div>

    <aside class="four columns footer-widgets">
      <div class="widget widget_contact">
        <h4>Address and Phone</h4>
        <p class="address">
          Jonathan Doe<br />
          1600 Amphitheatre Parkway <br />
          Mountain View, CA 94043 US<br />
          <span>(123) 456-7890</span>
        </p>
      </div>

      <div class="widget widget_tweets">
        <h4 class="widget-title">Latest Tweets</h4>

        <ul id="twitter">
          <li>
            <span>
              This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
              velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
              auctor, nisi elit consequat ipsum
              <a href="#">http://t.co/CGIrdxIlI3</a>
            </span>
            <b><a href="#">2 Days Ago</a></b>
          </li>
          <li>
            <span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi
              <a href="#">http://t.co/CGIrdxIlI3</a>
            </span>
            <b><a href="#">3 Days Ago</a></b>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</section>
<!-- Contact Section End-->
{% endblock %}
